<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Productos</h1>
    {{#if user}}
        <h2>Bienvenido, {{user.email}}</h2>
    {{/if}}
    <ul id="product-list">
        {{#each products}}
            <li>{{this.title}} - {{this.description}} - ${{this.price}}</li>
        {{/each}}
    </ul>
</body>
</html>